<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공지사항 작성</title>
    <script src="https://kit.fontawesome.com/87ed282d9d.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/board/boardWrite.css">
</head>
<body>
    <div id="container">
        <header>
            <div>
                <h1 class="fa-solid fa-apple-whole"></h1>
            </div>
            <nav class="header-nav-box">
                <ul>
                    <li>공지사항</li>
                    <li>자유게시판</li>
                    <li>QnA</li>
                </ul>
            </nav>
            <div class="user-menu">
                <i class="fa-solid fa-caret-down"></i>
                <span class="username-box">
                    
                </span>
                <div class="user-dtl-menu">
                    <span>내 정보 보기</span>
                    <span>로그아웃</span>
                    <span>회원탈퇴</span>
                </div>
            </div>
        </header>
        <main>
            <span class="board-type-span visible" th:text="${boardType}"></span>
            <span class="type-span visible" th:text="${type}"></span>
            <span class="board-code-span visible" th:text="${boardCode}"></span>
            <article>
                <section class="title-input">
                    <input type="text" placeholder="제목을 입력하세요.">
                </section>
                <section class="content-input">
                    <textarea name="" id="" placeholder="내용을 입력하세요."></textarea>
                </section>
                <div class="botton-box">
                    <span class="visible">중요 체크</span>
                    <input type="checkbox" id="importance" class="visible">
                    <label for="importance" class="importance-label visible"></label>
                    <button type="button">작성하기</button>
                </div>
            </article>
        </main>
    </div>
    <script src="/static/js/board/boardWrite.js"></script>
</body>
</html>