<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공지사항</title>
    <script src="https://kit.fontawesome.com/87ed282d9d.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/board/notice.css">
</head>
<body>
    <div id="container">
        <header>
            <div>
                <h1 class="fa-solid fa-apple-whole"></h1>
            </div>
            <nav class="header-nav-box">
                <ul>
                    <li>공지사항</li>
                    <li>자유게시판</li>
                    <li>QnA</li>
                </ul>
            </nav>
            <div class="user-menu">
                <i class="fa-solid fa-caret-down"></i>
                <span>~~~님 환영합니다.</span>
                <div class="user-dtl-menu">
                    <span>내 정보 보기</span>
                    <span>로그아웃</span>
                    <span>회원탈퇴</span>
                </div>
            </div>
        </header>
        <main>
            <div class="login-box">
                <div class="input-box">
                    <div>
                        <input type="text" placeholder="아이디">
                    </div>
                    <div>
                        <input type="password" placeholder="비밀번호">
                    </div>
                </div>
                <div class="signin-signup-button-box">
                    <button type="button">로그인</button>
                    <button type="button">회원가입</button>
                </div>
            </div>
            <article>
                <section>
                    <ul class="board-header-list">
                        <li>
                            <span class="board-code">번호</span>
                            <span class="board-type">[게시판]</span>
                            <span class="board-title">제목</span>
                            <span class="writer-span">작성자</span>
                            <span class="date-span">날짜</span>
                        </li>
                    </ul>
                    <ul class="board-content-list">
                        <li>
                            <span class="board-code">13</span>
                            <span class="board-type">[공지사항]</span>
                            <span class="board-title">제가 좋아하는 사람이 생겼어요...</span>
                            <span class="writer-span">토끠는 굉장해</span>
                            <span class="date-span">2022-08-02</span>
                        </li>
                    </ul>
                    <div class="write-button">
                        <button type="button">작성하기</button>
                    </div>
                </section>
            </article>
        </main>
    </div>
    <script src="/static/js/board/notice.js"></script>
</body>
</html>