@charset "UTF-8";

body {
    height: 1100px;
}

header {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    padding-top: 70px;
    width: 1920px;
    height: 120px;

    background-color: darkseagreen;
}

header div {
    margin-left: 50px;
    width: 200px;
    height: 150px;
}

header h1 {
    padding-left: 20px;
    font-size: 80px;
}

.header-nav-box {
    margin-left: 400px;
    width: 700px;
    height: 100px;
}

.header-nav-box li {
    font-size: 20px;
    font-weight: 500;
    color: black;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.farm-product-dtl-menu {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    top: 120px;
    left: 540px;
    padding-left: 20px;
    width: 200px;
    height: 300px;

    background-color: aquamarine;
}

.board-dtl-menu {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    top: 120px;
    left: 840px;
    padding-left: 20px;
    width: 200px;
    height: 300px;

    background-color: aquamarine;
}

/* main box */
/* top box */
.top-box {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 300px;
}

.new-farm-product {
    /* margin-top: 150px; */
    width: 200px;
    height: 300px;
    overflow: auto;

    background-color: aquamarine;
}

.search-farm-product {
    display: flex;
    align-items: center;
}

.search-farm-product input {
    width: 800px;
    height: 50px;

    font-size: 20px;
    font-weight: 500;
}

.search-farm-product button {
    border: none;
    cursor: pointer;
    width: 50px;
    height: 50px;
}

.login-box {
    display: flex;
    align-items: center;
}

.input-box {
    display: flex;
    flex-direction: column;
}

.input-box input {
    padding: 15px;
    height: 50px;
}

.signin-signup-button-box {
    display: flex;
    flex-direction: column;
}

.signin-signup-button-box button {
    width: 100px;
    height: 50px;
}

/* bottom box */

.bottom-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.show-price-change {
    width: 200px;
    height: 300px;
    overflow: auto;

    background-color: aquamarine;
}

.recently-board {
    margin-right: 400px;
    width: 1200px;
    height: 500px;

    background-color: aquamarine;
}

.top-left-margin {
    margin-top: 150px;
    margin-left: 20px;
}

/* footer */

footer nav {
    margin: 100px 710px;
    width: 500px;
}