@charset "UTF-8";

body {
    height: 1100px;
}

header {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    padding-top: 70px;
    width: 1920px;
    height: 120px;

    background-color: darkseagreen;
}

header div {
    margin-left: 50px;
    width: 200px;
    height: 150px;
}

header h1 {
    cursor: pointer;
    padding-left: 20px;
    font-size: 80px;
}

.header-nav-box {
    margin-left: 400px;
    width: 700px;
    height: 100px;
}

.header-nav-box li {
    font-size: 20px;
    font-weight: 500;
    color: black;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header span {
    cursor: pointer;
}

.user-menu {
    display: none;
    margin-left: 250px;
    height: 100px;
}

.fa-caret-down {
    cursor: pointer;
    padding-right: 5px;
    font-size: 16px;
}

.user-menu > span {
    cursor: default;
    font-size: 20px;
    font-weight: 500;
}

.user-dtl-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    position: absolute;
    top: 120px;
    right: 110px;
    padding-left: 20px;

    height: 300px;
    background-color: aquamarine;
}

.farm-product-dtl-menu {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    top: 120px;
    left: 540px;
    padding-left: 20px;
    width: 200px;
    height: 300px;

    background-color: aquamarine;
}

.board-dtl-menu {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    top: 120px;
    left: 840px;
    padding-left: 20px;
    width: 200px;
    height: 300px;

    background-color: aquamarine;
}

/* main box */
/* top box */
.top-box {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 300px;
}

.new-farm-product {
    /* margin-top: 150px; */
    display: flex;
    flex-direction: column;
    justify-content: auto;
    width: 200px;
    height: 300px;
    overflow: auto;

    background-color: aquamarine;
}

.new-product {
    margin: 20px 0px 20px 40px;
}

.new-product::before {
    margin-right: 10px;
    border-radius: 5px;
    
    content: "NEW!! ";
    font-size: 12px;
    text-align: center;

    background-color: red;
    color: white;
}

.search-farm-product {
    display: flex;
    align-items: center;
}

.search-farm-product input {
    width: 800px;
    height: 50px;

    font-size: 20px;
    font-weight: 500;
}

.search-farm-product button {
    border: none;
    cursor: pointer;
    width: 50px;
    height: 50px;
}

.login-box {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.input-box {
    display: flex;
    flex-direction: column;
}

.input-box input {
    height: 50px;
}

.signin-signup-button-box {
    display: flex;
    flex-direction: column;
}

.signin-signup-button-box button {
    width: 100px;
    height: 50px;
}

.purchase-product-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    position: absolute;
    top: 300px;
    left: 500px;

    width: 800px;
    height: 500px;
    background-color: bisque;
}

.purchase-product-menu h1 {
    font-size: 20px;
    font-weight: 500;
}

.purchase-product-menu input {
    width: 300px;
    height: 50px;

    font-size: 20px;
    font-weight: 400;
}

.purchase-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.purchase-box button {
    width: 70px;
    height: 50px;
}

.show-product-button {
    width: 150px;
    height: 30px;
}

.fa-xmark {
    position: absolute;
    top: 5px;
    right: 10px;

    cursor: pointer;

    font-size: 30px;
}

.show-available-product-box {
    position: absolute;
    top: 350px;
    right: 100px;

    width: 200px;
    height: 500px;
    background-color: bisque;
}

.auto-search {
    display: none;
    position: absolute;
    top: 295px;
    right: 632px;

    overflow: hidden;
    width: 800px;
    height: 300px;
    background-color: bisque;
}


.auto-search-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

}

.auto-search-list li{
    padding: 10px 0px;
    font-size: 20px;
    font-weight: 400;

    color: black;
}

/* bottom box */

.bottom-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.show-price-change {
    width: 200px;
    height: 300px;
    overflow: auto;

    background-color: aquamarine;
}

.recently-board {
    margin-right: 400px;
    width: 1200px;
    height: 500px;

    background-color: aquamarine;
}

.top-left-margin {
    margin-top: 150px;
    margin-left: 20px;
}

/* footer */

footer nav {
    margin: 100px 710px;
    width: 500px;
}