@charset "UTF-8";

:root {
    --main-btn-color: #0F1840;
	--main-bg-color: #232D5C;
	--main-bright-color: #535D89;
	--main-font-color: #7C84A7;
}

body {
    background-color: var(--main-bg-color);
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    margin-top: 150px;
}

header h1 {
    font-size: 30px;
    font-weight: 500;
    color: var(--main-font-color);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    width: 1920px;
    height: 400px;
}

.main-box > div {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 20px;

    width: 400px;
}

main label {
    font-size: 20px;
    color: var(--main-font-color);
}

main input {
    padding: 15px;
    width: 250px;
    height: 30px;
}

main span {
    font-size: 20px;
    font-weight: 400;
    color: red;
}

main button {
    cursor: pointer;
    height: 30px;
    color: var(--main-bright-color);
    background-color: var(--main-btn-color);
}

.username-check {
    position: absolute;
    top: 365px;
    left: 1170px;
}

.not-match-box {
    display: none;
    position: absolute;
    top: 471px;
    left: 1170px;
}

.username-dtl-form {
	display: none;
    position: absolute;
    top: 364px;
    left: 1240px;
}

.password-dtl-form {
	display: none;
    position: absolute;
    top: 418px;
    left: 1170px;
}

.email-dtl-form {
    display: none;
    position: absolute;
    top: 575px;
    left: 910px;
}

.email-select-box {
    position: absolute;
    top: 526px;
    left: 1170px;
}

.email-select-box select {
    width: 150px;
    height: 30px;
}

.signup-button {
    width: 80px;
}