<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/87ed282d9d.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="/static//css/style.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <title>농부 게임</title>
</head>
<body>
    <div id="container">
        <header>
            <div>
                <h1 class="fa-solid fa-apple-whole"></h1>
            </div>
            <nav class="header-nav-box">
                <ul>
                    <li>농산물</li>
                    <li>게시판</li>
                    <li>내 농산물</li>
                </ul>
            </nav>
        </header>
        <main>
            <div class="top-box">
                <div class="new-farm-product top-left-margin">
                    <span>농산물 표시</span>
                </div>
                <div class="search-farm-product">
                    <input type="text" placeholder="검색하고 싶은 농산물을 검색하세요.">
                    <button type="button">검색</button>
                </div>
                <div class="login-box">
                    <div class="input-box">
                        <div>
                            <input type="text" placeholder="아이디">
                        </div>
                        <div>
                            <input type="password" placeholder="비밀번호">
                        </div>
                    </div>
                    <div class="signin-signup-button-box">
                        <button type="button">로그인</button>
                        <button type="button">회원가입</button>
                    </div>
                </div>
            </div>
            <div class="bottom-box">
                <div class="show-price-change top-left-margin">
                    <span>농산물 가격 변동 알림 박스</span>
                </div>
                <div class="recently-board">
                    <span>최근 공지사항 및 게시글 표시 박스</span>
                </div>
            </div>
        </main>
        <footer>
            <nav>
                <ul>
                    <li>회사소개</li>
                    <li>이용약관</li>
                    <li>개인정보처리지침</li>
                    <li>청소년보호정책</li>
                    <li>고객센터</li>
                </ul>
            </nav>
        </footer>
    </div>
    <script src="/static/js/index.js"></script>
</body>
</html>