<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/87ed282d9d.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/managementProduct.css">
    <title>농산물 관리</title>
</head>
<body>
    <div id="container">
        <header>
            <div>
                <h1 class="fa-solid fa-apple-whole"></h1>
            </div>
            <nav class="header-nav-box">
                <ul>
                    <li>농산물</li>
                    <li>게시판</li>
                    <li>내 농산물</li>
                </ul>
            </nav>
            <div class="farm-product-dtl-menu">
                <span>농산물 품목 전체 보기</span>
                <span>농산물 관리</span>
            </div>
            <div class="board-dtl-menu">
                <span>공지사항</span>
                <span>자유게시판</span>
                <span>QnA</span>
            </div>
            <div class="user-menu">
                <i class="fa-solid fa-caret-down"></i>
                <span>~~~님 환영합니다.</span>
                <div class="user-dtl-menu">
                    <span>내 정보 보기</span>
                    <span>로그아웃</span>
                    <span>회원탈퇴</span>
                </div>
            </div>
        </header>
        <main>
            <div class="custom-button-box">
                <button type="button">농산물 추가</button>
                <button type="button">농산물 수정</button>
                <button type="button">농산물 제거</button>
            </div>
            <div>
                <div class="r-flex">
                    <input type="text" placeholder="추가할 농산물 이름">
                    <button type="button">농산물 확인</button>
                </div>
                <div class="r-flex hideAndShowtoggle">
                    <input type="text" placeholder="추가할 농산물 가격">
                    <div class="show-product-info-box">
                        <span></span>
                    </div>
                </div>
                <div class="r-flex hideAndShowtoggle">
                    <input type="text" placeholder="추가할 농산물 계절">
                    <div class="show-product-info-box">
                        <span></span>
                    </div>
                </div>
                <div class="r-flex hideAndShowtoggle">
                    <input type="text" placeholder="추가할 농산물 재배 기간">
                    <div class="show-product-info-box">
                        <span></span>
                    </div>
                </div>
            </div>
            <button type="button">추가하기</button>
        </main>
        <footer>
    
        </footer>
    </div>
    <script src="/static/js/managementProduct.js"></script>
</body>
</html>